/gwt-unitCache
/lib
/.idea
/idea/*
*.iml
.settings
Appengine/.gwt/.gwt-log
Android/gradle/
/Android/gradle/
/Android/gradlew
/Android/gradlew.bat
/AndroidV3/.idea
/Android/gradlew
/Android/gradlew.bat
