<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.wespot.pim"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="14" android:minSdkVersion="8"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:theme="@style/CustomTheme">
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="4030500" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                   android:value="AIzaSyCmFOi19bTi0XHWEZ5Ytif02kZm8ywXAaU"/>
        <activity android:name=".SplashActivity"
                  android:label="@string/app_name"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
                  android:label="@string/app_name"  android:screenOrientation="portrait"/>
        <activity android:name=".controller.VideoFullScreenView"
                  android:label="@string/app_name"  android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controller.InquiryPhasesActivity" android:label="@string/app_name"
                  android:screenOrientation="portrait"/>
        <activity android:name=".controller.InquiryActivity" android:label="@string/inquiry_title_new"
                  android:screenOrientation="portrait" />
        <activity android:name=".view.PimInquiriesFragment" android:label="@string/app_name"
                  android:screenOrientation="portrait" />
        <activity android:name=".view.PimProfileFragment" android:label="@string/app_name"
                  android:screenOrientation="portrait" />
        <activity android:name=".view.PimFriendsFragment" android:label="@string/app_name"
                  android:screenOrientation="portrait" />
        <activity android:name=".view.InqDataCollectionTaskFragment" android:label="@string/app_name"
                  android:screenOrientation="portrait" />
        <activity android:name=".view.InqMyMediaFragment" android:label="@string/app_name"
                  android:screenOrientation="portrait" />
        <activity android:name=".view.PimBadgesFragment" android:label="@string/app_name"
                  android:screenOrientation="portrait" />
        <activity android:name=".controller.InquiryActivityBack" android:label="@string/app_name"
                  android:screenOrientation="portrait" />

        <activity android:name=".view.InqMyMediaDataCollectionTaskFragment" android:label="@string/app_name"
                  android:screenOrientation="portrait" />

        <receiver android:name=".GCMWakefulReceiver" android:exported="true"
                  android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.RefreshList" />
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService" />

        <activity
                android:name=".controller.ImageDetailActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.FullScreen"
                android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".InquiryActivity" />
        </activity>

    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="net.wespot.pim.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera.AUTOFOCUS"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.location.GPS"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.LOCATION"
            android:required="false" />

</manifest>
