<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.celstec.arlearn2.android"
      android:versionCode="19"
      android:versionName="1.2 (code 19)">
      
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="10"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
     	<uses-library android:name="com.google.android.maps" />
		<activity android:label="@string/app_name" android:name=".activities.SplashScreenActivity">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
        		<action android:name="android.intent.action.VIEW"></action>
        		<category android:name="android.intent.category.DEFAULT"></category>
        		<category android:name="android.intent.category.BROWSABLE"></category>
        		<data android:host="arlearn" android:scheme="http"></data>
            </intent-filter> 
		</activity>
		
		<!-- 
		<activity android:name=".activities.DetailViewActivity"
			android:label="test" android:theme="@style/Theme.Transparent"
			android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="nl.openu.arlearn.VIEW_FEATURE" />
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		 -->


		<!-- Mobile game authoring activities -->	
		<activity android:name=".activities.EditGameActivity" android:label="@string/editGameHeader" />
		<activity android:name=".activities.EditGeneralItemActivity" android:label="@string/newGeneralItemHeader"/>		
		<activity android:name=".activities.EditTeamActivity" android:label="@string/editTeamHeader"/>				
		<activity android:name=".activities.ListGamesActivity" android:label="@string/listGamesHeader"/>		
		<activity android:name=".activities.ListGIActivity" android:label="@string/listGeneralItemHeader"/>
		<activity android:name=".activities.ListRunsActivity" android:label="@string/listRunsHeader"/>
		<activity android:name=".activities.ListTeamsActivity" android:label="@string/listTeamsHeader"/>
		<activity android:name=".activities.NarratorItemActivity" android:label="@string/newGeneralItemHeader"/>
		<activity android:name=".activities.NewGameActivity" android:label="@string/newGameHeader"/>				
		<activity android:name=".activities.NewTeamActivity" android:label="@string/newTeamHeader"/>			
		<activity android:name=".genItemActivities.AudiorecorderActivity" android:finishOnTaskLaunch="true" android:label="@string/messageHeader"/>
		<activity android:name=".genItemActivities.VideorecorderActivity" android:finishOnTaskLaunch="true" android:label="@string/messageHeader"/>
		

		
		<activity android:name=".activities.LoginActivity" android:label="@string/loginHeader" />
		<activity android:name=".activities.NfcScanOnDemandActivity" android:label="@string/loginHeader" />
		<activity android:name=".activities.ListExcursionsActivity" android:label="@string/listExcursionsHeader"/>
		<activity android:name=".activities.ListMessagesActivity" android:label="@string/listMessagesHeader" />
		<activity android:name=".activities.MapViewActivity" android:label="@string/mapViewHeader" />
		<activity android:name=".activities.OsmMapViewActivity" android:label="@string/mapViewHeader" />
		<activity android:name=".activities.ListMapItemsActivity" android:label="@string/mapViewHeader" />
		<activity android:name=".activities.AnswerQuestionActivity" android:label="@string/answerQuestionHeader" />
		<activity android:name=".activities.AnnotateActivity" android:label="@string/answerQuestionHeader" />
		<activity android:name=".activities.ViewAnswerActivity" android:label="@string/viewAnswerHeader" />
		<activity android:name=".activities.DownloadOSMMapTilesActivity" android:label="@string/downloadMap" android:alwaysRetainTaskState="True" android:launchMode="singleInstance"/> 
		
		<activity android:name=".genItemActivities.MultipleChoiceActivity" android:finishOnTaskLaunch="true" android:label="@string/mct_header"  android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".genItemActivities.SingleChoiceActivity" android:finishOnTaskLaunch="true" android:label="@string/mct_header"  android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".genItemActivities.OpenQuestionActivity" android:finishOnTaskLaunch="true" android:label="@string/mapViewHeader" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".genItemActivities.DisplayMessageActivity" android:finishOnTaskLaunch="true" android:label="@string/messageHeader" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".genItemActivities.AudioObjectActivity" android:finishOnTaskLaunch="true" android:label="@string/messageHeader" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".genItemActivities.VideoObjectActivity" android:finishOnTaskLaunch="true" android:label="@string/messageHeader" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".genItemActivities.YoutubeObjectActivity" android:finishOnTaskLaunch="true" android:label="@string/messageHeader" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".genItemActivities.OpenBadgeActivity" android:finishOnTaskLaunch="true" android:label="@string/messageHeader" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".genItemActivities.ScanTagActivity" android:finishOnTaskLaunch="true" android:label="@string/messageHeader" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".genItemActivities.NarratorItemActivity" android:finishOnTaskLaunch="true" android:label="@string/messageHeader" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".genItemActivities.NarratorItemSandboxActivity" android:label="@string/messageHeader"  />
		
		<service android:name=".service.BackgroundService" />
		<service android:name=".broadcast.MediaService" />
		<service android:name=".broadcast.ResponseService" />
		<service android:name=".service.LocationService" />
		<service android:name=".service.NotificationService" />
		<service android:name=".service.AudioPlayerService" />
		<service android:name=".service.AlarmService" />
        <service android:name=".service.ChannelAPINotificationService" />
        
        <receiver android:name=".broadcast.BeanReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn.beanbroadcast" />
            </intent-filter>
        </receiver>
         <receiver android:name=".broadcast.GeneralItemReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn2.beans.notification.GeneralItemModification" />
            </intent-filter>
        </receiver>
         <receiver android:name=".broadcast.RunReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn2.beans.notification.RunModification" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.GameReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn2.beans.notification.GameModification" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.PingReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn2.beans.notification.Ping" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.ActionReceiver" >
             <intent-filter>
 				<action android:name="org.celstec.arlearn2.beans.notification.Action" />
            </intent-filter> 

        </receiver>
        
         <receiver android:name=".broadcast.NetworkSwitcher" >
             <intent-filter>
 				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter> 

        </receiver>

    </application>
    
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" ></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" ></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_GPS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.AUTOFOCUS" android:required="false" />
    <uses-feature android:name="android.hardware.location.GPS" android:required="false" />
    <uses-feature android:name="android.hardware.LOCATION" android:required="false" />

</manifest>
