<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.celstec.arlearn2.android"
    android:versionCode="23"
    android:versionName="1.2 (code 22)" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="arlearn"
                    android:scheme="http" >
                </data>
            </intent-filter>
        </activity>

        <!--
		<activity android:name=".activities.DetailViewActivity"
			android:label="test" android:theme="@style/Theme.Transparent"
			android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="nl.openu.arlearn.VIEW_FEATURE" />
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
        -->

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/loginHeader" />
        <activity
            android:name=".activities.NfcScanOnDemandActivity"
            android:label="@string/loginHeader" />
        <activity
            android:name="org.celstec.arlearn2.android.activities.ListRunsParticipateActivity"
            android:label="@string/listExcursionsHeader" />
        <activity
            android:name=".activities.ListOpenRunsActivity"
            android:label="@string/listExcursionsHeader" />
        <activity
            android:name=".activities.ListMessagesActivity"
            android:label="@string/listMessagesHeader" />
        <activity
            android:name=".activities.MapViewActivity"
            android:label="@string/mapViewHeader" />
        <activity
            android:name=".activities.OsmMapViewActivity"
            android:label="@string/mapViewHeader" />
        <activity
            android:name=".activities.ListMapItemsActivity"
            android:label="@string/mapViewHeader" />
        <activity
            android:name=".activities.AnswerQuestionActivity"
            android:label="@string/answerQuestionHeader" />
        <activity
            android:name=".activities.AnnotateActivity"
            android:label="@string/answerQuestionHeader" />
        <activity
            android:name=".activities.ViewAnswerActivity"
            android:label="@string/viewAnswerHeader" />
        <activity
            android:name=".activities.DownloadOSMMapTilesActivity"
            android:alwaysRetainTaskState="True"
            android:label="@string/downloadMap"
            android:launchMode="singleInstance" />
        <activity
            android:name=".genItemActivities.MultipleChoiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/mct_header" />
        <activity
            android:name=".genItemActivities.SingleChoiceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/mct_header" />
        <activity
            android:name=".genItemActivities.SingleChoiceImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/mct_header" />
        <activity
            android:name=".genItemActivities.MultipleChoiceImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/mct_header" />
        <activity
            android:name=".genItemActivities.OpenQuestionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/mapViewHeader" />
        <activity
            android:name=".genItemActivities.DisplayMessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/messageHeader" />
        <activity
            android:name=".genItemActivities.AudioObjectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/messageHeader" />
        <activity
            android:name=".genItemActivities.VideoObjectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/messageHeader" />
        <activity
            android:name=".genItemActivities.YoutubeObjectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/messageHeader" />
        <activity
            android:name=".genItemActivities.OpenBadgeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/messageHeader" />
        <activity
            android:name=".genItemActivities.ScanTagActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/messageHeader" />
        <activity
            android:name=".genItemActivities.NarratorItemActivity"
            android:configChanges="orientation|keyboardHidden"
            android:finishOnTaskLaunch="true"
            android:label="@string/messageHeader" />
        <activity
            android:name=".genItemActivities.NarratorItemSandboxActivity"
            android:label="@string/messageHeader" />

        <service android:name=".service.BackgroundService" />
        <service android:name=".broadcast.MediaService" />
        <service android:name=".broadcast.ResponseService" />
        <service android:name=".service.LocationService" />
        <service android:name=".service.NotificationService" />
        <service android:name=".service.AudioPlayerService" />
        <service android:name=".service.AlarmService" />
        <service android:name=".service.ChannelAPINotificationService" />

        <receiver android:name=".broadcast.BeanReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn.beanbroadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.GeneralItemReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn2.beans.notification.GeneralItemModification" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.PingReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn2.beans.notification.Ping" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.ActionReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn2.beans.notification.Action" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.NetworkSwitcher" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.VisibilityAlarmReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn.visibility" />
            </intent-filter>
        </receiver>
        
         <receiver android:name=".broadcast.ProximityIntentReceiver" >
            <intent-filter>
                <action android:name="org.celstec.arlearn.proximityAction" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.AUTOFOCUS"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.GPS"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.LOCATION"
        android:required="false" />

</manifest>