<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.celstec.arlearn2.api</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>XmppNotificationServlet</servlet-name>
		<servlet-class>org.celstec.arlearn2.tasks.XmppNotificationServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AsyncTasksServlet</servlet-name>
		<servlet-class>org.celstec.arlearn2.tasks.AsyncTasksServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>BlobStoreServlet</servlet-name>
		<servlet-class>org.celstec.arlearn2.upload.BlobStoreServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UploadGameServlet</servlet-name>
		<servlet-class>org.celstec.arlearn2.upload.UploadGameServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>org.celstec.arlearn2.download.DownloadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>XmppNotificationServlet</servlet-name>
		<url-pattern>/xmpp/notify</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>AsyncTasksServlet</servlet-name>
		<url-pattern>/asyncTask</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>BlobStoreServlet</servlet-name>
		<url-pattern>/uploadService/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadGameServlet</servlet-name>
		<url-pattern>/uploadGame/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
