ARLearn/ARLearn.ipa
ARLearn.xcodeproj/project.pbxproj.old
ARLearn.xcodeproj/project.pbxproj~
ARLearn.xcodeproj/project.xcworkspace/xcshareddata/
ARLearn.xcodeproj/project.xcworkspace/xcuserdata/str.xcuserdatad/UserInterfaceState.xcuserstate
ARLearn.xcodeproj/xcuserdata/str.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
